.site__header {
	width: 100%;
	height: 1300px;
	position: relative;
}

.site__header:after {
	content: "";
	width: 100%;
	height: 1000px;
	position: absolute;
	top: -400px;
	left: 50%;
	transform: translateX(-50%);
	background: radial-gradient(50% 50% at 50% 50%, #EEFF2D 0%, rgba(255, 247, 45, 0) 100%, rgba(238, 255, 45, 0) 100%);
	z-index: 1;
}

.site__header:before {
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-image: 
		url("../img/branch.png"),
		url("../img/branch.png");
	background-repeat: no-repeat;
	background-position:
		-300px -150px,
		right -150px top -300px;
	z-index: 10;
}

.header__back {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-image: 
		url("../img/header-right.png"),
		url("../img/elipse.png"),
		url("../img/bamboo.png");
	background-repeat: no-repeat;
	background-position: 
		right top,
		-200px -200px,
		center top -80px;
	background-size: 
		1000px, 
		700px, 
		contain;
	z-index: 2;
}

.header__content {
	width: 700px;
	margin-left: 80px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	padding-top: 30px;
	position: relative;
	z-index: 10;
}

.header__girl-img {
	position: absolute;
	top: -50px; 
	left: -370px;
	width: 500px;
	// height: 700px; 
}

.header__boot1-img {
	position: absolute;
	top: -30px;
	right: -530px;
}

.header__boot2-img {
	position: absolute;
	top: 200px;
	right: -550px;
}

.sale {
	position: absolute;
	width: 210px;
	height: auto;
	top: 450px;
	right: -250px;
}

.sale__number {
	width: 100%;
	font-family: Arial;
	font-style: normal;
	font-weight: 900;
	font-size: 48px;
	line-height: 68px;
	text-align: left;
	color: #EEFF2D;
}

.sale__text {
	width: 100%;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 48px;
	line-height: 55px;
	text-align: right;
	color: #FFFFFF;
}

.header__title-wrapper {
	width: 520px;
	height: 56px;
	position: relative;
	margin-bottom: 50px;
}

.header__title-wrapper::before {
	content: "";
	width: 520px;
	height: 56px;
	position: absolute;
	bottom: -10px;
	right: -10px;
	background: #144E00;
	box-shadow: 2px 2px 10px rgba(255, 255, 255, 0.5);
	transform: skew(20deg);
}

.bg{
	position: absolute;
	width: 100%;
	height: 100%;
	bottom: 0px;
	right: 0px;
	background: #144E00;
	box-shadow: 2px 2px 10px rgba(255, 255, 255, 0.5);
	transform: skew(20deg);
	z-index: 10;
	display: flex;
	justify-content: center;
	align-items: center;
}

.header__title {
	font-family: Arial;
	font-style: normal;
	font-weight: 900;
	font-size: 36px;
	line-height: 56px;
	text-transform: uppercase;
	color: #FFFFFF;
	transform: skew(-20deg);
}

.header__info {
	font-family: Arial;
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	line-height: 41px;
	text-align: center;
	text-transform: uppercase;
	color: #000000;
}

.header__subtitle {
	font-family: Arial;
	font-style: normal;
	font-weight: 900;
	font-size: 54px;
	line-height: 76px;
	text-align: center;
	text-transform: uppercase;
	color: #000000;
	margin-bottom: 60px;
}

.header__timer {
	width: 400px;
	height: auto;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	margin-bottom: 64px;
}

.timer__title {
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 23px;
	text-align: center;
	color: #000000;
	opacity: 0.7;
	margin-bottom: 24px;
}

.timer__wrapper {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.time {
	width: 60px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

.time__number {
	font-family: Arial;
	font-style: normal;
	font-weight: bold;
	font-size: 48px;
	line-height: 55px;
	text-align: center;
	color: #000000;
}

.time__title {
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 16px;
	text-align: center;
	color: #000000;
	opacity: 0.78;
}

.header__price {
	width: 600px;
	display: flex;
	justify-content: space-between;
}

.price {
	width: 290px;
	display: flex;
	justify-content: space-between;
	align-items: baseline;
}

.old__price {
	font-family: Arial;
	font-style: normal;
	font-weight: 900;
	font-size: 22px;
	line-height: 31px;
	color: rgba(0, 0, 0, 0.5);
	position: relative;
}

.old__price:before {
	content: "";
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	height: 2px;
	transform: translateY(-50%);
	background-color: #EEFF2D;
}

.new__price {
	font-family: Arial;
	font-style: normal;
	font-weight: 900;
	font-size: 32px;
	line-height: 45px;
	color: #EEFF2D;
}

.header__order-btn {
	width: 280px;
	height: 60px;
	font-family: Arial;
	font-style: normal;
	font-weight: 900;
	font-size: 24px;
	line-height: 60px;
	text-transform: uppercase;
	color: #FFFFFF;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #3C8E1E;
	box-shadow: 0px 0px 20px #FFF72D;
	border-radius: 5px;
	cursor: pointer;
	transition: 0.3s linear;
}

.header__order-btn:hover {
	background: radial-gradient(50% 50% at 50% 50%, #144E00 0%, #144E00 33.33%, #3C8E1E 100%);
	box-shadow: 0px 0px 20px #FFF72D;
}
