.second__section{
	width: 100%;
	height: auto;
	margin-top: -150px;
}

.card__section {
	width: 100%;
	height: auto;
	background-image: 
		url("../img/card-secbg.png"),
		url("../img/card-secbg.png");
	background-repeat: no-repeat;
	background-size: 1000px, 1000px;
	background-position: 
		left -100px top -20px,
		left -100px bottom -20px;
	padding-top: 150px;
	padding-bottom: 150px;
}

.card {
	width: 100%;
	height: 680px;
	position: relative;
	display: flex;
	justify-content: space-between;
	margin-bottom: 100px;
}

// .card__boot[src="./img/card3-white.png"] {
// 	width: 800px;
// }

.card__2 {
	.btn-black {
		background-color: Aqua;
	}
}

.card:before {
	content: "";
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	width: 1920px;
	height: 630px;
	background: radial-gradient(50% 50% at 50% 50%, #EEFF2D 0%, rgba(255, 247, 45, 0) 100%, rgba(238, 255, 45, 0) 100%);
	opacity: 0.5;
}

.card__left {
	width: 262px;
	height: 100%;
	padding-top: 60px;
	position: relative;
	z-index: 10;
}

.card__title {
	font-family: Arial;
	font-style: normal;
	font-weight: 900;
	font-size: 30px;
	line-height: 140%;
	text-transform: uppercase;
	color: #000000;
	margin-bottom: 40px;

}

.card__table {
	width: 100%;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 34px;
	text-align: right;
	color: #111111;
	margin-bottom: 40px;

	tr td:first-of-type {
		font-weight: bold;
		text-align: left;
	}	
}

.card__sale {
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 18px;
	text-align: center;
	text-transform: uppercase;
	color: #222222;

	span {
		font-family: Arial;
		font-style: normal;
		font-weight: 900;
		font-size: 20px;
		line-height: 28px;
		text-align: center;
		text-transform: uppercase;
		color: #EEFF2D;
	}
}

.card__center {
	width: 598px;
	height: 580px;
	background-image: url("../img/card-bg.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	position: relative;
	display: flex;
	justify-content: center;
}

.card__boot {
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	z-index: 20;
}

.card__boot[src="./img/card1-black.png"] {
	bottom: -70px;
}

.card__boot[src="./img/card2-black.png"] {
	bottom: -70px;
}

.card__color {
	width: 598px;
	height: 54px;
	line-height: 54px;
	display: flex;
	align-items: center;
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: 1;
	padding-left: 23px;
}

.color__text {
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 54px;
	color: #000000;
	z-index: 10;
	margin-right: 18px;
}

.card__color-btn {
	width: 30px;
	height: 30px;
	background: #FFFFFF;
	margin-right: 10px;
	position: relative;
	z-index: 10;
	border-radius: 100%;
	cursor: pointer;
	outline: none;
	opacity: 0.5;
	transition: all 0.3s linear;
}

.btn-black {
	background-color: #000;
}

.card__color-btn.active {
	opacity: 1;
	border: 2px solid #000000;
}

.card__color-btn:hover {
	border: 2px solid #3C8E1E;
}

.card__color:before {
	content: "";
	top: 0;
	left: 0;
	width: 598px;
	height: 54px;
	position: absolute;
	background: linear-gradient(90deg, #EEFF2D 0%, rgba(238, 255, 45, 0) 100%);
	opacity: 0.5;
	border-radius: 50px 0px 0px 50px;
	z-index: 1;
}

.card__right {
	padding-top: 60px;
	width: 280px;
	height: 100%;
	position: relative;
	z-index: 10;
}

.card__form {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

.delivery__info {
	font-family: Arial;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 16px;
	text-align: center;
	text-transform: uppercase;
	color: #222222;
	margin-bottom: 50px;
	span {
		font-family: Arial;
		font-style: normal;
		font-weight: 900;
		font-size: 16px;
		line-height: 19px;
		text-align: center;
		text-transform: uppercase;
		color: #EEFF2D;
	}
}

.card .form__input {
	color: #111;
}

.card .form__input::placeholder {
	color: #111;
}

.card__size-block {
	width: 100%;
	height: auto;
	margin-top: 38px;
	display: flex;
	flex-direction: column;
}

.card__size-text {
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 150%;
	color: #111111;
	margin-bottom: 10px;
}

.size__btns {
	display: flex;
	margin-bottom: 15px;
}

.size__btn-block {
	width: 30px;
	height: 90px;
	position: relative;
	margin-right: 20px;
}

.size__btn {
	display: inline-block;
	text-align: center;
	width: 30px;
	height: 30px;
	border: 1px solid rgba(17, 17, 17, 0.3);
	border-radius: 5px;
	font-family: Arial;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 150%;
	color: rgba(17, 17, 17, 0.3);
	cursor: pointer;
	outline: none;
	transition: 0.3s ease;
}

.size__btn:hover {
	color: #111111;
	border: 1px solid #111111;
}

.size {
	position: absolute;
	width: 75px;
	top: 60px;
	left: 50%;
	transform: translateX(-50%) rotate(90deg);
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 150%;
	color: rgba(29, 44, 73, 0.5);
	opacity: 0;
	visibility: hidden;
}

.size__btn-block.active {
	.size__btn {
		color: #111111;
		border: 1px solid #111111;
	}
	.size {
		opacity: 1;
		visibility: visible;
	}
}

.card__price {
	width: 100%;
	display: flex;
	flex-direction: column;
	.price {
		width: 100%;
		margin-bottom: 20px;
	}
}

.card__galary {
	position: absolute;
	bottom: 0px;
	left: 50%;
	transform: translateX(-50%);
	width: 750px;
	height: 67px;
	display: flex;
	justify-content: space-between;
	z-index: 10000;
}

.card__galary-foto {
	width: 100px;
	height: 67px;
	box-shadow: 0px 4px 4px rgba(159, 0, 77, 0.25);
	transition: 0.3s ease;
}

.card__galary-foto:hover {
	box-shadow: 0px 8px 8px rgba(68, 42, 55, 0.6);
}

.card__galary-img {
	width: 100px;
	height: 67px;
	pointer-events: auto;
}
